html {
    height: 100%;
    background-color: #262626;
}
.bgclr {
    background-color: #262626;
    color: #dddddd;
}

.pad {
    padding: 2%;
}
.results {
    padding: 10%;
    margin: 10%;
}
#index-top {
    background-image: url(../images/img.jpg);
    height: 100%;
    background-repeat: no-repeat;
    padding-bottom: 20%;
    background-size: cover;
    background-position: center;
}
#about {
    padding-top: 20%;
}
#login {
    padding-top: 20%;
}
#login_doc {
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: whitesmoke;
}
@media only screen and (max-width: 768px) {
    #login {
        padding-top: 2rem;
    }
    #about {
        padding-top: 2rem;
    }
}
#footer {
    position: fixed;
    bottom: 0%;
    text-align: center;
}
div.card {
   padding: 1%;
}
img.card-img-top {
    height: 15rem;
}