#index-top {
    background-image: url(index.jpeg);
    height: 100%;
    background-repeat: no-repeat;
    padding-bottom: 20%;
    background-size: cover;
}
#about {
    padding-top: 20%;
}
#login {
    padding-top: 20%;
}
#login_doc {
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: whitesmoke;
}
@media only screen and (max-width: 768px) {
    #login {
        padding-top: 2rem;
    }
    #about {
        padding-top: 2rem;
    }
}
#footer {
    position: fixed;
    bottom: 0%;
    text-align: center;
}