{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico|Lobster">
<style>
    #title {
      font-family: 'Pacifico', serif;
      font-size: 78px;
    }
    @media only screen and (max-width: 768px) {
      #title {
        font-size: 48px;
      }
    }
    #info_vapors{
      font-family: 'Lobster', serif;
      font-size: 24px;
    }
</style>

  {% comment %} <h1>Welcome</h1> {% endcomment %}
  <div id="backgrdimg"></div>
  <main id="index-top">
    <div class="container">
      <div class="row">

        {% comment %} info {% endcomment %}
        <div id="about" class="col-md-6">
          <div class="container">
            <h1 id="title">Vapours</h1>
            <br />
            <div id="info_vapors">Vapours is an web-application for calculating the level of depression by predicting the Patient Health Questionnaire(PHQ) values based on their daily life activity data and to predict wheather a student is prone to committing suicide or not. Vapours is an advanced and smart tool for Psycologists.</div>
          </div>
        </div>

        <div class="col-md-1"></div>

        {% comment %} login {% endcomment %}
        {% if not user.is_authenticated %}
        <div id="login" class="col-md-5 center">
          <div id="login_doc" class="container">
            <h1>Log In</h1>
            <form  method="POST">
              {% csrf_token %}
              {% bootstrap_form form %}
              <input type="submit" class='btn btn-success' value="Log In">
            </form>
          </div>
        </div>
        {% endif %}

      </div>
    </div>
  </main>
{% endblock %}
